.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
 cursor: pointer;
}


/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width:1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none; 
}

 .logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
 }

 .header-logo {
     padding: 16px 0;
  display: block;
 }

 .header-logo .logo-part {
     color: #2e2f42;
 }

 /* header */

 .burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
 }

 .burger-icon {
    display: block;
    fill: #2f2f37;
 }

 @media screen and (min-width:768px)  {
    .burger-btn {
        display: none;
    }
        .header-nav {
            display: flex;
            align-items: center;
        }
        .nav-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }
                .nav-link {
                    display: block;
                    padding: 24px 0;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #2e2f42;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
                                 .nav-link.current {
                                     position: relative;
                                 }
        .nav-link.current::after {
            content: '';
            width: 100%;
            height: 4px;
            left: 0;
            bottom: -1px;
            background-color: #404bbf;
            border-radius: 2px;
            position: absolute;
        }
        .header-logo {
     padding: 24px 0;
     margin-right: 120px;
 }
                .contacts {
                    font-style: normal;
                    display: block;
                }
        .contacts-list {
            gap: 12px;
            display: flex;
            flex-direction: column;
        }
        .nav-link:hover,
        .nav-link:focus,
        .nav-link.current {
            color: #404bbf;
        }
                .contacts-link {
                    display: block;
                    font-size: 12px;
                    line-height: 1.17;
                    letter-spacing: 0.04em;
                    color: #434455;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
         .contacts-link:hover,
         .contacts-link:focus {
             color: #404bbf;
         }
                                
}

@media screen and (min-width:1158px) {
    .header-logo {
            margin-right: 76px;
        }
        .contacts-list {
            flex-direction: row;
            gap: 40px;
            align-items: center;
        }
.contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 48px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-nav {
margin-bottom: auto;
}

.button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-size: 36px;
    font-weight: 700;
    color: #2e2f42;
    text-decoration: none;
}

.mobile-phone {
    font-size: 20px;
    font-weight: 500;
    color: #434455;
    display: inline-block;
    margin-bottom: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mobile-menu-address {
    font-style: normal;
}

.mobile-email {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
    color: #434455;
}

.mob-activ {
    color: #404bbf;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.mob-social-list {
    gap: 40px;
    justify-content: flex-start;
 margin-top:48px ;
}
.social-item {
    width: 40px;
    height: 40px;
}


.social-link {
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}


@media screen and (min-width:768px) {
    .mobile-menu { 
 display: none;
    }
}


/* .mobile-menu-end */
 
/* hero */

.hero {
background-color: #2e2f42;
padding: 72px 0;
text-align: center;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../images/mob-bg.jpg);
max-width: 320px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: 0 auto;
 }

 @media (min-resolution:2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/mob-bg@2x.jpg);
    }
 }

 .hero-title {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        line-height: 1.07;
        max-width: 216px;
        margin: 0 auto;
 }

 .hero-button {
         font-weight: 500;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.04em;
         color: #fff;
        background: #4d5ae5;
        cursor: pointer;
        border-radius: 4px;
        padding-block: 16px;
        padding-inline: 32px;
        border: none;
        margin-top: 72px;
        display: block;
        min-width: 169px;
        margin-left: auto;
        margin-right: auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .hero-button:hover,
 .hero-button:focus {
     background-color: #404bbf;
 }

 @media screen and (min-width:768px) {
 .hero {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/dark-tab1x.jpg);
 }
 .hero-title {
    font-size: 56px;
    max-width: 496px;
 }

.hero-button {
    margin-top: 48px;

}

 }

 @media screen and (min-width:1158px) {
 .hero {
    padding: 188px 0;
    max-width: 1440px;

 }
 .hero-button {
    margin-top: 36px;
 }
 }
    
 
    
 

/* FEATURE SECTION */

.features {
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features-item {
    width: 100%;
}

.icon {
   display: none;
}

.features-subtitle {
    font-weight: 700;
    font-size: 36px;;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .features {
        padding: 96px 0;
    }

    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }
    .features-subtitle {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-list {
        gap: 24px;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }

        .features-subtitle {
            font-size: 20px;
        }

     .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
        }
}

/* team */

.team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 100%;
}

.text-item {
    padding: 32px 0;

}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}


.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #f4f4fd;
}

@media screen and (max-width:767px) {
    .team-container {
        max-width: 296px;
    }
}

@media screen and (min-width: 768px) {

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;

    }

    .team-item {
        max-width:calc((100% - 24px) / 2);
    }
}

@media screen and (min-width:768px) and (max-width:1157px) {
    .team-container {
        max-width: 584px;
    }
}


@media screen and (min-width: 1158px) {

    .team {
        padding: 120px 0;
       
    }

    .team-list {
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

    .social-link:hover,
    .social-link:focus {
        background-color: #404bbf;
        }
}

/* PORTFOLIO */
.portfolio {
    padding: 96px 0;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 72px;

}

.portfolio-item {
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-img-text {
    transform: translateY(0%);
}

.portfolio-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-img-container {
    position: relative;
    overflow: hidden;
}

.portfolio-img {
    width: 100%;
    height: auto;
    display: block;
}

.portfolio-img-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width:768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2 );
    }
    
}

@media screen and (max-width:1157px) {
    .portfolio-item {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    
}

@media screen and (min-width:1158px) {
.portfolio-item {
        width: calc((100% - 48px) / 3);
    }
.portfolio {
    padding: 120px 0;
}
}

/* FOOTER  */
.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.page-footer .container {
    display: flex;
    flex-direction: column;
    gap:72px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.container-logo {
    display:flex;
    flex-direction: column;
    align-items: center;
}

 

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
   
}

.text-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.social-list-footer {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-link-footer {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    fill: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}

.icon-subscribe {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
    margin-left: 16px;
}

.container-subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;


}

.text-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.footer-input {
    width: 288px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-input::placeholder {
    color: #ffffff;
}

.button-subscribe {
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 165px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 16px auto 0 auto;
}


@media screen and (min-width:768px) {
 .page-footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 584px;
 }
 .container-logo { 
    align-items: flex-start;

 }
 .container-footer {
    align-items: flex-start;
 }
 .text-subscribe {
    text-align: left;
 }

 .button-subscribe {
    margin: unset;
 }

 .subscribe-form {
     display: flex;
     gap: 24px;

 }

 .footer-input {
    width: 264px;
 }

}

@media screen and (min-width:1158px) {
 .page-footer .container { 
    max-width: 1158px;
    flex-wrap: nowrap;
    gap: unset;
    align-items: baseline;
    

 }

 .container-logo {
     margin-right: 120px;
 }
.container-footer {
    margin-right: 80px;
}

}
