
/* header */
/* hero */
 .hero {
background-color: #2e2f42;
padding: 188px 0;
text-align: center;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../images/people-office.jpg);
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: 0 auto;
 }

 .hero-title {
        font-weight: 700;
        font-size: 56px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto;
 }

 .hero-button {
         font-weight: 500;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.04em;
         color: #fff;
        background: #4d5ae5;
        cursor: pointer;
        border-radius: 4px;
        padding-block: 16px;
        padding-inline: 32px;
        border: none;
        margin-top: 48px;
        display: block;
        min-width: 169px;
        margin-left: auto;
        margin-right: auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .hero-button:hover,
 .hero-button:focus {
     background-color: #404bbf;
 }

/* features */

.features {
        padding-top: 120px;
        padding-bottom: 120px;
}

.visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        margin: -1px;
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-list {
        display: flex;
        gap: 24px;
}

.features-item {
        width: calc((100% - 72px) / 4)
}

.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
}

.features-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* team */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        line-height: 1.11;
        text-transform: capitalize;
        margin-bottom: 72px;
        text-align: center;
        
}

.team-list {
        display: flex;
        gap: 24px;
}

.team-item {
        background-color: #FFFFFF;
        width: calc((100% - 72px) / 4);
        border-radius: 0 0 4px 4px;
        box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text-item {
        padding: 32px 0;
}

.team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-bottom: 8px;
        
}

.social-list {
        display: flex;
        justify-content: center;
        gap: 24px;
}

.social-item {
        width: 40px;
        height: 40px;
}

.social-link {
        height: 100%;
        width: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
        background-color: #404bbf;
}

.social-icon {
        fill: #f4f4fd;
}
/* portfolio */

.portfolio {
        padding: 120px 0;
}

.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        line-height: 1.11;
        text-transform: capitalize;
        margin-bottom: 72px;
        text-align: center;
}

.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
       
}

.portfolio-item {
        width: calc((100% - 48px) / 3);
        border-top: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-img-text {
        transform: translateY(0%);
}

.portfolio-item-container {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.portfolio-img-container {
        position: relative;
        overflow: hidden;
}

.portfolio-img {
        width: 100%;
        height: auto;
        display: block;
}

.portfolio-img-text {
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* footer */
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.page-footer .container {
        display: flex;
        align-items: baseline;
}

.footer-logo {
        display: inline-block;
        margin-bottom: 16px;
}

.container-logo {
        margin-right: 120px;
}

.footer-logo .logo-part {
color: #f4f4fd;
}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}

.container-footer {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 16px;
        margin-right: 80px;
}

.text-social {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
}

.social-list-footer {
        display: flex;
        gap: 16px;
        margin: 0;
        padding: 0;
        list-style: none;
}

.social-link-footer {
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        fill: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
        background-color: #31d0aa;
}

.icon-subscribe {
        width: 24px;
        height: 24px;
        fill: #f4f4fd;
        margin-left: 16px;
}

.container-subscribe {
        display: flex;
        flex-direction: column;
        gap: 16px;
        
}

.text-subscribe {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.footer-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-input::placeholder {
        color: #ffffff;
}

.button-subscribe {
        background-color: #4d5ae5;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        height: 40px;
        min-width: 165px;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        padding: 0 24px;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
}

.subscribe-form {
        display:flex;
        gap: 24px;

}

.backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:  rgba(46, 47, 66, 0.4);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

}

.backdrop.is-open {
        visibility: visible;
        pointer-events: auto;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
         opacity: 1;
        
}

.modal-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 16px;
}

.modal-input {
        margin-bottom: 8px;
}

.label-name {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
}

.fild-name {
        position: relative;
}

.input-name {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding-left: 38px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: transparent;
}

.input-name:focus {
        border-color: #4D5AE5;
        outline: none;
}

.icon-name {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.input-name:focus+.icon-name {
        fill: #4D5AE5;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-coment {
        margin-bottom: 16px;

}

.modal-textarea {
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
        border-color: #4D5AE5;
}

.conteiner-checkbox {
        margin-bottom: 24px;

}

.label-checkbox {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;

}

.part-lebel {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
}


.visually-hidden:checked+.label-checkbox .part-lebel {
        background-color: #404bbf;
        border: none;
        fill: #F4F4FD;
}

.visually-hidden:checked+label .part-lebel .icon-chek {
        fill: #F4F4FD;
}

.privacy-policy {
        color: #4d5ae5;
}

.button-send {
        display: block;
        margin: 0 auto;
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 408px;
        min-height: 584px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background: #fcfcfc;
        border-radius: 4px;
        transform: translate(-50%, -50%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
        
}

.backdrop:not(.is-open) .modal {
        transform: translate(-50%, -50%) scale(1.5);
}

.button-close {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.1);
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-close:hover {
        background-color: #404bbf;
        border: none;
}

.button-close:focus {
        background-color: #404bbf;
        border: none;
}

.icon-close {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .icon-close,
.button-close:focus .icon-close {
        fill: #ffffff;
}